{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1><a href="{{ frontend_url }}" about="_blank">{{ brand }}-комьюнити</a></h1>

    <p>Это письмо подтверждает смену вашего электронного адреса.</p>
    <p>Если вы не инициировали данное изменение, пожалуйста свяжитесь с нашей технической поддержкой.</p>

    <p>
        С наилучшими пожеланиями,<br>
        команда {{ brand }}.
    </p>
{% endblock %}
